body {
      margin: 0;
      font-family: "Noto Sans", sans-serif;
      display: flex;
      flex-direction: column;
      height: 100vh;
      background:#008942;
      color: #008942;
    }
    header {
      padding: 20px;
      display: flex;             
      justify-content: center;   
      align-items: center;       
      font-size: 2rem;
      font-weight: bold;
      background: #ffffff;
      border-bottom: 2px solid #333;
    }

    
.header-logo {
  max-width: 100px; 
  height: auto; 
  margin-right: 20px; 
  margin-top: 0;      
  margin-bottom: 0;   
}

#header-text {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin: 0; 
  text-transform: uppercase;
  }

#header-title {
font-family: "Bebas Neue", sans-serif;
color: black;
letter-spacing: 1px;
}
    
    main {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      text-align: center;
    }
    .kysymysalue {
      max-width: 600px;
      width: 75%;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #ffffff;
      color: #000000;
      border: 3px solid #00582a;
      border-radius: 12px;
      padding: 30px;
      word-wrap: break-word;
      font-size: clamp(1.5rem, 3vw, 2.5rem);
      font-weight: 500;
      transition: opacity 0.5s ease; 
      opacity: 0; 
    }


    .kysymysalue.welcome-style {
      background: none;
      border: none;
      
      
      font-size: clamp(1.3rem, 3vw, 2rem); 
      font-weight: 300; 
      color: #ffffff;
    }

    
    .kysymysalue.welcome-style h2 {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: clamp(2.5rem, 5vw, 3.8rem); 
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1.2;
      color: #ffffff; 
    }

    
    .kysymysalue.visible {
      opacity: 1;
    }
    footer {
      padding: 20px;
      text-align: center;
      background: #ffffff;
      border-top: 2px solid #333;
    }
    